/*
reset basico y configuracion general
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*
Encabezado de sitio
*/
.site-header .topbar {
  background-color: #333;
  font-family: Arial, sans-serif;
  color: white;
  padding: 14px 0;
  text-align: center;
  
}

.site-header .topbar h1 {
  margin: 0;
  font-size: 3rem;
}

.site-header .subnav {
  background: #e1e1e1;
  display: flex;
  justify-content: center;
  padding: 8px 12px;
  border-bottom: 1px solid #ccc;
}

.site-header .subnav a {
  color: #333;
  text-decoration: none;
  margin: 0 1rem;
  font-weight: bold;
  transition: text-decoration 0.3s ease;
}
.site-header .subnav a:hover {
  text-decoration: underline;
}
.title {
  color: blue;
  font-size: 36px;
  text-align: center;
  margin-top: 20px;
}

.img-goku {
  width: 300px;
  height: auto;
}
